.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 15px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

button {
  margin-top: 2%;
  padding: 0.5% 3%;
  background-color: #4ECCA3;
  color: #232931;
  font-size: 1.5rem;
  border-radius: 10%;
  border: 2px solid #232931;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}